# mediapipe==0.10.5
# tensorflow==2.12.0
# opencv-python==4.8.0.76
# keras==2.12.0
# requests
# PyQt5
# numpy
# insightface==0.7.3
# onnxruntime
# faiss-cpu==1.7.4

mediapipe==0.10.5
tensorflow==2.12.0
keras==2.12.0
opencv-python==4.8.0.76
insightface==0.7.3
onnx==1.13.1
onnxruntime==1.15.1
protobuf==3.20.3
faiss-cpu==1.7.4
numpy==1.23.5
PyQt5==5.15.9
requests==2.31.0
psutil
ntplib
pyttsx3